{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>
		Nos produits phares
	</h1>
	<div class="row">
		{% for p in products %}
			{% include "product/_product.html.twig" %}
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, quidem alias tempora excepturi beatae laboriosam!</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
			'color': 'primary',
			'icon': 'fa fa-truck',
			'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore aliquam consequatur porro, eos laboriosam!',
		} %}
		{% include "shared/_assurance.html.twig" with {
			'color': 'success',
			'icon': 'fa fa-check',
			'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore aliquam consequatur porro, eos laboriosam!',
		} %}
		{% include "shared/_assurance.html.twig" with {
			'color': 'warning',
			'icon': 'fa fa-lock',
			'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis labore aliquam consequatur porro, eos laboriosam!',
		} %}
	</div>
{% endblock %}
